proxmox_endpoint = "https://<PROXMOX_IP>:8006"
proxmox_token_id = "terraform@pve!terraform_token"
proxmox_node     = "gallium"
proxmox_ip       = "<PROXMOX_IP>"

adguard_ip   = "192.168.1.53"
adguard_vmid = 100
gateway      = "192.168.1.1"

lxc_template = "local:vztmpl/debian-13-standard_13.1-2_amd64.tar.zst"

ssh_public_key = "ssh-ed25519 AAAA..."

# Secrets — ne jamais committer terraform.tfvars
proxmox_api_token = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
root_password     = ""
